.sectionWrapper{
  width: 100%;
  background: #fff;
  padding-block: 100px;
}
.section2{
    width: 1200px;
    margin-inline: auto;
    display: flex;
}
.card{
  display: flex;
  flex-direction: column;
  height: 161px;
  justify-content: space-between;
}
.card h6{
  height: 50px;
  color: #273B5E;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.41;
  font-size: 18px;
  padding-right: 20px;
}
.order{
  display: flex;
}
.order .line{
  height: 1px;
  border: 1px solid #eee;
  width: 100%;
  align-self: center;
  transition: all 0.1s ease-out ;
}

@media (max-width: 1199px) {
  .section2{
    width: 992px;
  }
}