.button{
    color: #1164e9;
    background-color: #fff;
    border:1px solid;
    height: 40px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
}
.button:hover{
    transform: translateY(-3px);
    transition: transform 0.3s ease-in-out;
}
.button:not(:hover) {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
.button a{
    font-weight: 600;
}